@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans');

html {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: inherit;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Amatic SC', cursive, serif;
  margin-bottom: 1rem;
}

em {
font-style: italic;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.landing-logo {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.content-container {
  max-width: 65ch;
  margin: 0 auto;
  padding: 0 1rem;
  img {
    max-width: 100%;
  }
}
footer {
  text-align: center;
}

.card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5rem;

  .card {
    width: 250px;

    img {
      margin: 0;
      max-width: 100%;
    }
  }
}

.layout-product .main-content {
  text-align: initial;
  max-width: 1040px;
  margin: 0 auto;
}

.item-title {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-weight: 700;
  font-family: 'Amatic SC', cursive, serif;
}

.item-price {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
  display: block;
}

.item-photo {
  width: 50%;
  margin-top: -3.8rem;
  float: left;
}

.item-info {
  margin-left: 50%;
  padding-left: 2rem;
}

.item-description {
  margin-left: 50%;
  padding-left: 2rem;
}

.description {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

h3,
h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
  font-family: 'Amatic SC', cursive, serif;
}

.item-usage {
  margin-bottom: .5rem;
}

button {
  background: #368138;
  border: none;
  padding: .25rem .5rem;
  font-size: 1rem;
  color: #fff;
  margin-bottom: .5rem;
  border-radius: 2px;
}

button[disabled] {
  background: #ce3c37;
  color: #fff;
}

.item-ingredients li {
  display: inline-block;
}

.item-ingredients li:after {
  content: ',';
}

.item-ingredients li:last-child:after {
  content: '';
}

.related-items,
footer {
  clear: both;
}

.related-items .project-item {
  width: 200px;
  float: left;
  margin-right: 2rem;
}

.related-items .project-item img {
  max-width: 100%;
}

.tagline {
  font-family: 'Amatic SC', cursive, serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  line-height: 3rem;

  span {
    display:inline-block;
  }
}

@media only screen and (max-width: 500px) {
    .site-header {
      .tagline {
        display:none;
    }
    }
  }

footer {
  padding: 15rem 0 2.5rem;

  .copyright {
    font-size: .8rem;
  }

  .tagline {
    font-size: 2rem;
    color: inherit;
  }
}

#instafeed {
  text-align: center;
}

#instafeed a {
  width: 100%;
  margin: 10px;
  height: 178px;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
#instafeed a {
  width: 178px;

  margin: 10px;
  height: 178px;
  overflow: hidden;
}
}
