@import url( 'https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans');

html {
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
}
body {
  line-height: inherit;
}

.main-content,
footer {
    text-align: center;
}

.card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5rem;

  .card {
    width: 250px;

    img {
      margin: 0;
    }
  }
}


.layout-product .main-content {
    text-align: initial;
    max-width: 1040px;
    margin: 0 auto;
}

.item-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-family: 'Merriweather', serif;
}

.item-price {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
}

.item-photo {
    width: 50%;
    margin-top: -3.8rem;
    float: left;
}

.item-info {
    margin-left: 50%;
    padding-left: 2rem;
}

.item-description {
    margin-left: 50%;
    padding-left: 2rem;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

h3,h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'Merriweather', serif;
}

.item-usage {
    margin-bottom: 0.5rem;
}

button { background: #368138; border: none; padding: 0.25rem 0.5rem; font-size: 1rem; color: #fff; margin-bottom: 0.5rem; border-radius: 2px; }
button[disabled] { background: #ce3c37; color: #fff; }

.item-ingredients li {
    display: inline-block;
}

.item-ingredients li:after {
    content: ',';
}

.item-ingredients li:last-child:after {
    content: '';
}

.related-items, footer {
  clear: both;
}

.related-items .project-item {width:200px;float:left;margin-right:2rem;}
.related-items .project-item img {max-width:100%;}
